In [22]:
import pandas as pd
import numpy as np
import yfinance as yf
#time series 
date_range_daily = pd.date_range("2024-09-05",periods= 31, freq="d")
date_range_daily

DatetimeIndex(['2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
               '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12',
               '2024-09-13', '2024-09-14', '2024-09-15', '2024-09-16',
               '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20',
               '2024-09-21', '2024-09-22', '2024-09-23', '2024-09-24',
               '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-28',
               '2024-09-29', '2024-09-30', '2024-10-01', '2024-10-02',
               '2024-10-03', '2024-10-04', '2024-10-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
date_range_series = pd.Series(pd.date_range("2024-09-05",periods= 31, freq="d"))
date_range_series

0    2024-09-05
1    2024-09-06
2    2024-09-07
3    2024-09-08
4    2024-09-09
5    2024-09-10
6    2024-09-11
7    2024-09-12
8    2024-09-13
9    2024-09-14
10   2024-09-15
11   2024-09-16
12   2024-09-17
13   2024-09-18
14   2024-09-19
15   2024-09-20
16   2024-09-21
17   2024-09-22
18   2024-09-23
19   2024-09-24
20   2024-09-25
21   2024-09-26
22   2024-09-27
23   2024-09-28
24   2024-09-29
25   2024-09-30
26   2024-10-01
27   2024-10-02
28   2024-10-03
29   2024-10-04
30   2024-10-05
dtype: datetime64[ns]

In [12]:
date_range_series.dt.month

0      9
1      9
2      9
3      9
4      9
5      9
6      9
7      9
8      9
9      9
10     9
11     9
12     9
13     9
14     9
15     9
16     9
17     9
18     9
19     9
20     9
21     9
22     9
23     9
24     9
25     9
26    10
27    10
28    10
29    10
30    10
dtype: int32

In [14]:
lectures = pd.date_range("2024-09-05","2024-11-11",freq= "W-THU")
lectures

DatetimeIndex(['2024-09-05', '2024-09-12', '2024-09-19', '2024-09-26',
               '2024-10-03', '2024-10-10', '2024-10-17', '2024-10-24',
               '2024-10-31', '2024-11-07'],
              dtype='datetime64[ns]', freq='W-THU')

In [17]:
thirdFri= pd.date_range("2024-09-06","2025-11-11",freq="wom-3fri")
thirdFri

DatetimeIndex(['2024-09-20', '2024-10-18', '2024-11-15', '2024-12-20',
               '2025-01-17', '2025-02-21', '2025-03-21', '2025-04-18',
               '2025-05-16', '2025-06-20', '2025-07-18', '2025-08-15',
               '2025-09-19', '2025-10-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [21]:
selection_df= pd.DataFrame(np.random.randn(10000,1),columns=["A"],index= pd.date_range("20240101",periods=10000,freq="min"))
selection_df

                            A
2024-01-01 00:00:00  0.532924
2024-01-01 00:01:00  0.545653
2024-01-01 00:02:00 -0.930522
2024-01-01 00:03:00 -0.596693
2024-01-01 00:04:00  0.107291
...                       ...
2024-01-07 22:35:00 -0.246643
2024-01-07 22:36:00 -0.465576
2024-01-07 22:37:00  0.829873
2024-01-07 22:38:00  0.982992
2024-01-07 22:39:00 -0.759455

[10000 rows x 1 columns]

In [28]:
tickers= ["AAPL"]
panel_data = yf.download(tickers, start="2022-01-01",end= None)
panel_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,179.273621,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,176.998352,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,172.290192,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,169.414124,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,169.581558,86709100
...,...,...,...,...,...,...
2024-08-28,227.919998,229.860001,225.679993,226.490005,226.490005,38052200
2024-08-29,230.100006,232.919998,228.880005,229.789993,229.789993,51906300
2024-08-30,230.190002,230.399994,227.479996,229.000000,229.000000,52990800
2024-09-03,228.550003,229.000000,221.169998,222.770004,222.770004,50042900
2024-09-04,221.660004,221.779999,217.479996,220.850006,220.850006,43780100

In [31]:
panel_data["daily_return"]= ((panel_data["Adj Close"])-panel_data["Adj Close"].shift(1))/panel_data["Adj Close"].shift(1)
panel_data

,Open,High,Low,Close,Adj Close,Volume,daily_return
Date,,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,179.273621,104487900,NaN
2022-01-04,182.630005,182.940002,179.119995,179.699997,176.998352,99310400,-0.012692
2022-01-05,179.610001,180.169998,174.639999,174.919998,172.290192,94537600,-0.026600
2022-01-06,172.699997,175.300003,171.639999,172.000000,169.414124,96904000,-0.016693
2022-01-07,172.889999,174.139999,171.029999,172.169998,169.581558,86709100,0.000988
...,...,...,...,...,...,...,...
2024-08-28,227.919998,229.860001,225.679993,226.490005,226.490005,38052200,-0.006753
2024-08-29,230.100006,232.919998,228.880005,229.789993,229.789993,51906300,0.014570
2024-08-30,230.190002,230.399994,227.479996,229.000000,229.000000,52990800,-0.003438
2024-09-03,228.550003,229.000000,221.169998,222.770004,222.770004,50042900,-0.027205
2024-09-04,221.660004,221.779999,217.479996,220.850006,220.850006,43780100,-0.008619

In [ ]:
panel_tickers